body{
margin:0;
font-family:"Inter",sans-serif;
background:#edf1f6;
color:#222;
line-height:1.6;
}

.hero{
background-image:url("../images/Budapest-Parliament-0001.jpg");
background-size:cover;
background-position:center 35%;
height:400px;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
position:relative;
color:white;
}

.hero::before{
content:"";
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
background:rgba(0,0,0,0.22);
}

.hero-content{
position:relative;
z-index:2;
max-width:1000px;
margin:0 auto;
}

.hero h1{
font-size:64px;
font-weight:700;
margin:0 0 18px 0;
letter-spacing:0.5px;
text-shadow:0 2px 8px rgba(0,0,0,0.35);
}

.hero h2{
font-size:26px;
font-weight:600;
color:#ffffff;
text-shadow:0 2px 6px rgba(0,0,0,0.45);
line-height:1.5;
max-width:900px;
margin:auto;
}

/* BUTTONS */

.hero-buttons{
margin-top:30px;
}

.btn{
background:white;
color:#0f5d86;
padding:12px 20px;
margin:5px;
border-radius:6px;
text-decoration:none;
font-weight:600;
display:inline-block;
}

/* WELCOME */

.welcome{
background:#eef3fb;
padding:40px 20px;
}

.welcome h2{
text-align:center;
margin-bottom:20px;
}

.emnlp{
text-align:center;
font-weight:600;
}

.emnlp a{
color:#0f5d86;
text-decoration:none;
}

/* CONTAINER */

.container{
max-width:1100px;
margin:auto;
}

/* CARD */

.card{
background:white;
padding:50px;
border-radius:12px;
box-shadow:0 6px 20px rgba(0,0,0,0.06);
}

/* SECTIONS */

.section{
padding:60px 20px;
}

.section h2{
text-align:center;
margin-bottom:30px;
}

.section h2::after{
content:"";
display:block;
width:60px;
height:3px;
background:#1e88c8;
margin:10px auto;
}

/* GRID */

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:30px;
}

/* SPEAKERS */

.speaker{
text-align:center;
}



.speaker img{
width:120px;
height:120px;
border-radius:50%;
object-fit:cover;
margin-bottom:10px;
cursor:pointer;
transition:0.2s;
}

.speaker img:hover{
transform:scale(1.08);
}

/* DATES */

.dates li{
margin-bottom:10px;
}

/* PC GRID */


.pc-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px 40px;
margin-top:20px;
}

.pc-grid p{
margin:4px 0;
font-size:15px;
line-height:1.4;
}

/* FOOTER */

footer{
background:#0f5d86;
color:white;
text-align:center;
padding:25px;
margin-top:50px;
}
